# Shopify credentials
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SCOPES=read_locales,read_orders,read_products,read_themes,write_app_proxy,write_discounts,write_files,write_products,write_publications

# App config
APP_NAME="Product Bundles"
APP_HANDLE="product-bundles47"
HOST=https://hand-nam-vinyl-assessing.trycloudflare.com
POS_EMBEDDED=false
DIRECT_API_MODE="offline"
EMBEDDED_APP_DIRECT_API_ACCESS=true
AUTO_UPDATE_URL=true

# Database (server only)
DATABASE_URL="postgresql"

# Dev store fallback (optional)
DEV_STORE_URL="bundles47.myshopify.com"

# Run below command on terminal to get the key (required)
ENCRYPTION_KEY="node -e "console.log(require('crypto').randomBytes(32).toString('hex'))""