@use "variable" as *;

// ==========================================================================
// Root Container with CSS Variables
// ==========================================================================

.radius-bundle-widget {
    /* Colors */
    --rb-primary-color: #{$rb-primary-color};
    --rb-secondary-color: #{$rb-secondary-color};
    --rb-background-color: #{$rb-background-color};
    --rb-heading-color: #{$rb-heading-color};
    --rb-product-bg-color: #{$rb-product-background-color};
    --rb-text-color: #{$rb-text-color};
    --rb-border-color: #{$rb-border-color};
    --rb-savings-color: #{$rb-savings-color};
    --rb-savings-text-color: #{$rb-savings-text-color};
    --rb-button-color: #{$rb-button-color};
    --rb-button-text-color: #{$rb-button-text-color};
    --rb-muted-color: #{$rb-muted-color};
    --rb-gray-color: #{$rb-gray-color};

    /* Radius */
    --rb-border-radius: #{$rb-border-radius};
    --rb-border-radius-small: #{$rb-border-radius-small};
    --rb-image-border-radius: #{$rb-image-border-radius};

    /* Typography */
    --rb-font-scale-sm: #{$rb-font-scale-sm};
    --rb-font-scale-md: #{$rb-font-scale-md};
    --rb-font-scale-lg: #{$rb-font-scale-lg};

    --rb-heading-base: #{$rb-heading-base};
    --rb-heading-sm: calc(#{$rb-heading-base} * #{$rb-font-scale-sm});
    --rb-heading-md: calc(#{$rb-heading-base} * #{$rb-font-scale-md});
    --rb-heading-lg: calc(#{$rb-heading-base} * #{$rb-font-scale-lg});

    --rb-body-font-base: #{$rb-font-base-size};
    --rb-body-font-sm: calc(#{$rb-font-base-size} * #{$rb-font-scale-sm});
    --rb-body-font-md: calc(#{$rb-font-base-size} * #{$rb-font-scale-md});
    --rb-body-font-lg: calc(#{$rb-font-base-size} * #{$rb-font-scale-lg});

    --rb-button-font-sm: calc(#{$rb-button-font-base} * #{$rb-font-scale-sm});
    --rb-button-font-md: calc(#{$rb-button-font-base} * #{$rb-font-scale-md});
    --rb-button-font-lg: calc(#{$rb-button-font-base} * #{$rb-font-scale-lg});

    /* Spacing */
    --rb-spacing: #{$rb-spacing};
    --rb-spacing-xs: calc(var(--rb-spacing) * 0.25);
    --rb-spacing-sm: calc(var(--rb-spacing) * 0.5);
    --rb-spacing-lg: calc(var(--rb-spacing) * 1.5);
    --rb-spacing-xl: calc(var(--rb-spacing) * 2);

    --rb-image-size: #{$rb-image-size};

    /* Effects */
    --rb-transition: #{$rb-transition};
    --rb-arrow-shadow: #{$rb-shadow};
    //--rb-shadow-hover: #{$rb-shadow-hover};

    --rb-shadow-none: #{$rb-shadow-none};

    --rb-shadow-sm: #{$rb-shadow-sm};
    --rb-shadow-sm-hover: #{$rb-shadow-sm-hover};

    --rb-shadow-md: #{$rb-shadow-md};
    --rb-shadow-md-hover: #{$rb-shadow-md-hover};

    --rb-shadow-lg: #{$rb-shadow-lg};
    --rb-shadow-lg-hover: #{$rb-shadow-lg-hover};

    /* Skeleton */
    --rb-skeleton-base: #{$rb-skeleton-base};
    --rb-skeleton-shine: #{$rb-skeleton-shine};

    font-family: inherit;
    font-size: var(--rb-font-size, 16px);
    margin: 24px 0;

    & *:empty:not(img):not(br):not(hr) {
        display: revert;
    }
}
