// ==========================================================================
// Design Tokens
// ==========================================================================

$rb-primary-color: #303030;
$rb-secondary-color: #666666;
$rb-background-color: #ffffff;
$rb-heading-color: #303030;
$rb-product-background-color: #f7f7f7;
$rb-text-color: #333333;
$rb-border-color: #e3e3e3;
$rb-savings-color: #333333;
$rb-savings-text-color: #ffffff;
$rb-button-color: #333333;
$rb-button-text-color: #ffffff;
$rb-muted-color: #888888;
$rb-gray-color: #f7f7f7;

$rb-border-radius: 12px;
$rb-border-radius-small: 8px;
$rb-image-border-radius: 8px;

$rb-heading-base: 20px;
$rb-font-base-size: 16px;

$rb-font-scale-sm: 0.85;
$rb-font-scale-md: 1;
$rb-font-scale-lg: 1.15;

$rb-button-font-base: 16px;

$rb-spacing: 16px;

$rb-image-size: 70px;

$rb-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
//$rb-shadow-hover: 0 4px 16px rgba(0, 0, 0, 0.12);

$rb-shadow-none: none;

$rb-shadow-sm: 0 5px 15px rgba(0, 0, 0, 0.12);
$rb-shadow-sm-hover: 0 10px 20px rgba(0, 0, 0, 0.15);

$rb-shadow-md: 0 5px 5px rgba(0, 0, 0, 1);
$rb-shadow-md-hover: 0 6px 6px rgba(0, 0, 0, 1);

$rb-shadow-lg: 5px 5px 5px rgba(0, 0, 0, .25);
$rb-shadow-lg-hover: 5px 5px 5px rgba(0, 0, 0, .3);

$rb-transition: 0.25s ease;

$rb-skeleton-base: #e8e8e8;
$rb-skeleton-shine: #f5f5f5;
